.grid-row {
	padding: 0  0 16px 0;
	padding: 0  0 16px 0;
	padding: 0  0 1rem 0;
}

.grid-row.work {
	padding: 40px 0;
	padding: 40px 0;
	padding: 2.5rem 0;
}

.grid-col-1of2 {
	width: 47.8%;
	margin-right: 1em;
}

.grid-col-1of3 {
	width: 32.25%;
	margin-right: 1em;
}

.grid-col-1of5 {
	width: 19.5%;
	margin-right: 1em;
}

.grid-col-4of5 {
	width: 79%;
	margin-right: 1em;
}


.grid-col-1of2:first-child, .grid-col-1of3:first-child, .grid-col-1of5:first-child {
	margin-left: 0em;
}

.grid-col-1of2:last-child, .grid-col-1of3:last-child, .grid-col-4of5:last-child {
	margin-right: 0em;
}


[class^='grid-col-'] {
	float: left;
	padding: 0; 
}

[class^='grid-col-'] p{
	margin-top: 0.2em;
	padding: 1em;
}

.grid-row:after {
	content: '';
	display: block;
	clear: both;
}

@media (max-width: 70em) {

	.grid-col-1of3 {
		width: 31.5%;
	}

	.grid-col-1of2 {
		width: 45.8%;
		margin-right: 1em;
	}

	.grid-col-1of5 {
		width: 19%;
		margin-right: 1em;
	}

	.grid-col-4of5 {
		width: 78%;
		margin-right: 1em;
	}

	.grid-row img#portrait {
		width: 70%;
	}
}

@media (max-width: 45em) {

	.grid-col-1of3, .grid-col-1of2, .grid-col-1of5, .grid-col-4of5 {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0.7em;
	}

	.grid-row .grid-col-1of5 h2 {
		text-align: center;
	}

	div.parallax {
		height: 80%;
		min-height: initial;
	}

	.grid-row img#portrait {
		width: 100%;
	}

	a.button {
		width: 100%;
		text-align: center;
	}
}

@media (max-height: 54em) {
	div.parallax#front-page {
		background-image: url('../img/Header-img-1.jpg');
	}

	div.parallax#pokemon-project {
		background-image: url('../img/pokemon-project-header-2.jpg');
	}

	div.parallax#beedie-dashboard {
		background-image: url('../img/beedie-dashboard-header-2.jpg');
	}

	.parallax .header h4 {
		text-shadow: 1px 1px 8px #000000
	}
}